/*global style*/

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: robot-condensed, sans-serif;
}

body {
  height: 100vh;
  background-image: url(../images/neon-crystals.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

/*header*/
#main-title {
  font-size: 2rem;
  display: flex;
  justify-content: center;
}

h1 {
  color: #c92be9;
}

h1 > i {
  font-size: 50px;
  align-items: center;
}

/*menu area styling*/
#game-container > i {
  font-size: 2rem;
}

#game-container {
  font-size: 5rem;
  border-radius: 40px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/*styling for the quit-modal*/
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 100;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.modalClose {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modalClose:hover,
.modalClose:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #b356cf;
  color: white;
}

.modal-body {
  padding: 2px 16px;
  font-size: 20px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #401165;
  color: white;
}
#quit-yes,
#quit-no {
  background-color: rgb(140, 71, 180);
  font-size: 20px;
  color: #ffff;
}

/*styling of the classicclassical  game*/
.style-button {
  display: flex;
  background-color: #9b09cb;
  color: #ffff;
  font-size: 2rem;
  padding: 20px 24px;
  margin-bottom: 10px;
  border-radius: 20px;
}

.choices {
  margin-bottom: 30px;
}

.choices button {
  font-size: 2rem;
  margin: 0 10px;
  border-radius: 200px;
  background-color: #c198d1a3;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}

.choices button:hover {
  background-color: rgb(119, 34, 136);
}

button:active {
  background-color: #c2a9f0;
}

.close-button:hover {
  opacity: 0.7;
  background-color: #e1e1ec;
}

.noclick {
  pointer-events: none;
}

.close-button {
  background-color: violet;
  border: 0;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 2px;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.close-button:hover {
  color: rgb(150, 63, 63);
  text-decoration: none;
  cursor: pointer;
}

#rock {
  font-size: 4rem;
  margin: 0 10px;
  border-radius: 200px;
  background-color: #fdfdfd;
  cursor: pointer;
  padding-top: 10px;
  padding-left: 20px;
}

#paper {
  font-size: 4rem;
  margin: 0 10px;
  border-radius: 200px;
  background-color: #fdfdfd;
  cursor: pointer;
  padding-top: 10px;
}

#scissors {
  font-size: 4rem;
  margin: 0 10px;
  border-radius: 200px;
  background-color: #fdfdfd;
  cursor: pointer;
  padding-top: 10px;
}

/*styling for the new game*/
.style-button-2 {
  font-size: 2rem;
  display: flex;
  background-color: #9b09cb;
  color: #ffff;
  font-size: 2rem;
  padding: 20px 24px;
  margin: auto;
  border-radius: 20px;
}

.close-button2 {
  background-color: violet;
  border: 0;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 2px;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}


#lizard {
  font-size: 4rem;
  margin: 0 10px;
  border-radius: 200px;
  background-color: #fdfdfd;
  cursor: pointer;
  padding-top: 10px;
}

#spock {
  font-size: 4rem;
  margin: 0 10px;
  border-radius: 200px;
  background-color: #fdfdfd;
  cursor: pointer;
  padding-top: 10px;
}

.noclick {
  pointer-events: none;
}

.close-button2:hover {
  color: rgb(150, 63, 63);
  text-decoration: none;
  cursor: pointer;
}

/*styling for the rules */
.style-button-rules {
  display: flex;
  background-color: #9b09cb;
  color: #ffff;
  font-size: 2rem;
  padding: 20px 24px;
  margin-top: 10px;
  left: 0;
  right: 0;
  margin-bottom: 20px;
  border-radius: 20px;
}

#rules > .modal {
  display: none;
  position: fixed;
  z-index: 100;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #dedede;
}

.modal-rules-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 2px solid #73006b;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

.modalCloseRules {
  color: #f5f5f5;
  float: right;
  font-size: 40px;
  font-weight: bold;
}

.modalCloseRules:hover,
.modalCloseRules:focus {
  color: #f1e7ff;
  text-decoration: none;
  cursor: pointer;
}

.modal-header-rules {
  padding: 2px 16px;
  background-color: #c555e7;
  color: white;
}

br {
  margin: 10px;
}

.modal-body-rules {
  padding: 2px 16px;
}

.modal-footer-rules {
  padding: 2px 16px;
  background-color: #43074b;
  color: white;
}

/*game and the new version game section */

#playerDisplay,
#computerDisplay {
  font-size: 1.5rem;
  margin: 10px 20px 0px;
  width: 30px;
  color: #f5f5f5;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
}

#resultDisplay {
  font-size: 1.5rem;
  margin: 20px 30px 30px;
  color: #f5f5f5;
  display: flex;
  justify-content: space-around;
}

.scoreDisplay {
  font-size: 1.5rem;
  margin: 20px 30px 20px;
  color: #f5f5f5;
  display: flex;
  justify-content: flex-start;
}

.lightpurpleText,
#playerScoreDisplay {
  color: #c890da;
}

.darkpurpleText,
#computerScoreDisplay {
  color: #9e75ea;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 100;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(41, 10, 72);
  /* Fallback color */
  background-color: rgba(251, 247, 252, 0.4);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #ffff;
  margin: auto;
  padding: 0;
  border: 1px solid #8a4693;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(223, 214, 222, 0.2),
    0 6px 20px 0 rgba(176, 141, 190, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 2;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 2;
  }
}

/* The Close Button */
.modalClose {
  color: rgb(224, 207, 223);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modalClose:hover,
.modalClose:focus {
  color: rgb(204, 28, 28);
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #8021ac;
  color: rgb(245, 242, 242);
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #510f6b;
  color: rgb(236, 233, 233);
}

/*footer*/

footer {
  height: 150px;
}

.social-networks {
  text-align: center;
}

.social-networks > li {
  display: inline;
}

.social-networks i {
  font-size: 160%;
  margin-top: 100%;
  margin-bottom: 20px;
  padding: 5%;
  color: #c91acf;
}

/*media query for small screens(360px and up)*/
@media screen and (min-width: 360px) {
  #main-title {
    font-size: 1rem;
  }

  .social-networks i {
    font-size: 120%;
    margin-top: 50%;
    margin-bottom: 100%;
    padding: 4%;
  }

  .style-button {
    font-size: 2rem;
    margin-top: 50%;
    margin-bottom: 10%;
  }

  .style-button-2,
  .style-button-rules {
    font-size: 1.5rem;
    margin-top:0;
    margin-bottom: 10%;
  }

  .close-button {
    border-radius: 60%;
    font-size: 30px;
  }

  #rock,
  #paper,
  #scissors,
  #lizard,
  #spock {
    font-size: 2.5rem;
    margin: 0 5px;
    border-radius: 150px;
  }

  #game-container {
    font-size: 2rem;
    border-radius: 20px;
    padding: 10px;
  }

  h1 {
    font-size: 3rem;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px;
  }

  .choices {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  #playerDisplay,
  #computerDisplay {
    font-size: 25px;
    margin: 10px 20px 0px;
    width: 30px;
    color: #f5f5f5;
    display: table-row;
  }

  #resultDisplay {
    font-size: 1.5rem;
    margin: 20px 30px 30px;
    color: #f5f5f5;
    display: flex;
    justify-content: space-around;
  }
  .scoreDisplay {
    font-size: 1.5rem;
    margin: 20px 30px 20px;
    color: #f5f5f5;
    display: flex;
    justify-content: flex-start;
  }

  .lightpurpleText,
  #playerScoreDisplay {
    color: #c890da;
  }

  .darkpurpleText,
  #computerScoreDisplay {
    color: #9e75ea;
  }
}

/*media query for medium size screens (765px and up)*/
@media screen and (min-width: 765px) {
  #game-container {
    font-size: 5rem;
    border-radius: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  h1 {
    font-size: 4rem;
  }

  .style-button,
  .style-button-2 {
    font-size: 3.5rem;
  }

  .style-button-rules {
    font-size: 3rem;
  }

  #main-title {
    font-size: 1.5rem;
  }

  .modalCloseRules {
    font-size: 30px;
  }

  .social-networks {
    font-size: 120%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 6%;
  }
  #rock,
  #paper,
  #scissors,
  #lizard,
  #spock {
    font-size: 4rem;
    margin: 0 5px;
    border-radius: 150px;
  }
}

/*media query for tablet size screens(992px and down)*/
@media screen and (min-width: 922px) {
  h1 {
    font-size: 6rem;
  }

  #game-container {
    font-size: 5rem;
    border-radius: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #main-title {
    font-size: 2.5rem;
  }
  .style-button-rules {
    display: flex;
    margin-right: 0;
    margin-left: 0;
    font-size: 3rem;
    margin-bottom: 10px;
    border-radius: 20px;
    align-items: center;
    cursor: pointer;
  }
  .style-button,
  .style-button-2 {
    font-size: 3.5rem;
  }
  #playerDisplay,
  #computerDisplay {
    font-size: 2rem;
    margin: inherit;
    display: table-row;
  }

  .scoreDisplay {
    font-size: 1.5rem;
  }

  #resultDisplay {
    font-size: 2rem;
  }

  #rock,
  #paper,
  #scissors,
  #lizard,
  #spock {
    font-size: 4rem;
    min-width: 120px;
  }

  .social-networks i {
    font-size: 120%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 6%;
}
}