/*global style*/

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: robot-condensed, sans-serif;
}

body {
  height: 110vh;
  font-family: robot-condensed, sans-serif;
  line-height: 1.6;
  background-image: url(../images/neon-crystals.jpg);
  background-size: cover;
  background-position: center;
}

/*header*/



/*menu area styling*/


/*game and the new version game section plus the rules*/
.noclick {
  pointer-events: none;
}


.choices {
  margin-bottom: 30px;
}

.choices button {
  font-size: 6rem;
  min-width: 1000px;
  margin: 0 10px;
  border-radius: 200px;
  background-color: #a22fcf;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.choices button:hover {
  background-color: rgb(229, 102, 255);
}
#playerDisplay,
#computerDisplay {
  font-size: 1.5rem;
}
#resultDisplay {
  font-size: 1.5rem;
  margin: 10px 0;
}
.scoreDisplay {
  font-size: 2rem;
}
.lightpurpleText,
#playerScoreDisplay {
  color: #c890da;
}
.darkpurpleText,
#computerScoreDisplay {
  color: #9e75ea;
}

/*footer*/

footer {
  height: 100px;
}

.social-networks {
  text-align: center;
}

.social-networks > li {
  display: inline;
}

.social-networks i {
  font-size: 120%;
  margin: 1%;
  padding: 5%;
  color: #dfdfdf;
}

/*media query for small screens(360px and up)*/
@media screen and (min-width: 360px) {
  
}

/*media query for tablet size screens(992px and down)*/
@media screen and (min-width: 922px) {
  
}
