/*global style*/

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: robot-condensed, sans-serif;
}

body {
  height: 110vh;
  font-family: robot-condensed, sans-serif;
  line-height: 1.6;
  background-image: url(../images/neon-crystals.jpg);
  background-size: cover;
  background-position: center;
}

/*header*/
#main-title {
  font-size: 3rem;
  display: flex;
  justify-content: center;
}

h1 {
  color: #e17cf5;
}

/*menu area styling*/

#game-container {
  font-size: 2rem;
  border-radius: 40px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

#play-game {
  display: flex;
  font-size: 30px;
  margin-right: 50%;
  margin-left: 50%;
  background-color: rgba(110, 25, 110, 0.626);
  border-radius: 10px;
}

.choices {
  margin-bottom: 30px;
}

.choices button {
  font-size: 2rem;
  min-width: 60px;
  margin: 0 10px;
  border-radius: 200px;
  background-color: #c198d1a3;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}

.choices button:hover {
  background-color: rgb(119, 34, 136);
}

.noclick {
  pointer-events: none;
}

.close-button {
  display: flex;
  height: 40px;
  width: auto;
  align-items: baseline;
  justify-content: space-around;
  flex-direction: row;
}

#rock{
  font-size: 2rem;
  min-width: 60px;
  margin: 0 10px;
  border-radius: 200px;
  cursor: pointer;
}

#paper{
  font-size: 2rem;
  min-width: 60px;
  margin: 0 10px;
  border-radius: 200px;
  cursor: pointer;
}

#scissors{
  font-size: 2rem;
  min-width: 60px;
  margin: 0 10px;
  border-radius: 200px;
  cursor: pointer;
}

#lizard{
  font-size: 2rem;
  min-width: 60px;
  margin: 0 10px;
  border-radius: 200px;
  cursor: pointer;
}

#spock{
  font-size: 2rem;
  min-width: 60px;
  margin: 0 10px;
  border-radius: 200px;
  cursor: pointer;
}

/*game and the new version game section plus the rules*/

#playerDisplay,
#computerDisplay {
  font-size: 1.5rem;
  margin: 10px 20px 0px;
  width: 30px;
  height: 20px;
  color: #f5f5f5;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
}
#resultDisplay {
  font-size: 1.5rem;
  margin: 20px 30px 30px;
  color: #f5f5f5;
  display: flex;
  justify-content: space-around;
}
.scoreDisplay {
  font-size: 1.5rem;
  margin: 20px 30px 20px;
  color: #f5f5f5;
  display: flex;
  justify-content: flex-start;
}

.lightpurpleText,
#playerScoreDisplay {
  color: #c890da;
}

.darkpurpleText,
#computerScoreDisplay {
  color: #9e75ea;
}

/*footer*/

footer {
  height: 100px;
}

.social-networks {
  text-align: center;
}

.social-networks > li {
  display: inline;
}

.social-networks i {
  font-size: 120%;
  margin: 1%;
  padding: 5%;
  color: #dfdfdf;
}

/*media query for small screens(360px and up)*/
@media screen and (min-width: 360px) {
}

/*media query for tablet size screens(992px and down)*/
@media screen and (min-width: 922px) {
}
